# Load dependency

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

from sklearn.metrics import mean_absolute_error, mean_squared_error

# Load data

In [4]:
coffee_data = '../data/arabica_data_cleaned.csv'

cf = pd.read_csv(coffee_data)
cf = cf.iloc[:, 1:] # ship the number column

In [5]:
cf.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [6]:
feature_selected = [
    'Country.of.Origin', 'Variety', 
    'Processing.Method', 'Moisture', 
    'unit_of_measurement', 'Color', 
    'altitude_mean_meters', 'Total.Cup.Points'
]
cf = cf[feature_selected]
cf

,Country.of.Origin,Variety,Processing.Method,Moisture,unit_of_measurement,Color,altitude_mean_meters,Total.Cup.Points
0,Ethiopia,NaN,Washed / Wet,0.12,m,Green,2075.00,90.58
1,Ethiopia,Other,Washed / Wet,0.12,m,Green,2075.00,89.92
2,Guatemala,Bourbon,NaN,0.00,m,NaN,1700.00,89.75
3,Ethiopia,NaN,Natural / Dry,0.11,m,Green,2000.00,89.00
4,Ethiopia,Other,Washed / Wet,0.12,m,Green,2075.00,88.83
...,...,...,...,...,...,...,...,...
1306,Mexico,Bourbon,Washed / Wet,0.11,m,None,900.00,68.33
1307,Haiti,Typica,Natural / Dry,0.14,m,Blue-Green,350.00,67.92
1308,Nicaragua,Caturra,Other,0.13,m,Green,1100.00,63.08
1309,Guatemala,Catuai,Washed / Wet,0.10,ft,Green,1417.32,59.83
1310,Honduras,Caturra,NaN,0.12,m,Green,1400.00,0.00

In [7]:
cf.columns = cf.columns.str.replace('.', '_')
cf.columns = cf.columns.str.title()
cf

/var/folders/cd/mt3mnkz168n9wr_y2d10dqb80000gn/T/ipykernel_5689/2722055113.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cf.columns = cf.columns.str.replace('.', '_')

,Country_Of_Origin,Variety,Processing_Method,Moisture,Unit_Of_Measurement,Color,Altitude_Mean_Meters,Total_Cup_Points
0,Ethiopia,NaN,Washed / Wet,0.12,m,Green,2075.00,90.58
1,Ethiopia,Other,Washed / Wet,0.12,m,Green,2075.00,89.92
2,Guatemala,Bourbon,NaN,0.00,m,NaN,1700.00,89.75
3,Ethiopia,NaN,Natural / Dry,0.11,m,Green,2000.00,89.00
4,Ethiopia,Other,Washed / Wet,0.12,m,Green,2075.00,88.83
...,...,...,...,...,...,...,...,...
1306,Mexico,Bourbon,Washed / Wet,0.11,m,None,900.00,68.33
1307,Haiti,Typica,Natural / Dry,0.14,m,Blue-Green,350.00,67.92
1308,Nicaragua,Caturra,Other,0.13,m,Green,1100.00,63.08
1309,Guatemala,Catuai,Washed / Wet,0.10,ft,Green,1417.32,59.83
1310,Honduras,Caturra,NaN,0.12,m,Green,1400.00,0.00

In [8]:
## data cleaning for units
unit_to_convert = cf['Unit_Of_Measurement'].eq('ft')
cf.loc[unit_to_convert, ['Altitude_Mean_Meters']] /= 3.281
cf['Unit_Of_Measurement'].replace(to_replace='ft', value='m', inplace=True)
# cf.drop(columns='unit_of_measurement')

In [9]:
cf.drop(columns="Unit_Of_Measurement", inplace=True)
cf

,Country_Of_Origin,Variety,Processing_Method,Moisture,Color,Altitude_Mean_Meters,Total_Cup_Points
0,Ethiopia,NaN,Washed / Wet,0.12,Green,2075.000000,90.58
1,Ethiopia,Other,Washed / Wet,0.12,Green,2075.000000,89.92
2,Guatemala,Bourbon,NaN,0.00,NaN,1700.000000,89.75
3,Ethiopia,NaN,Natural / Dry,0.11,Green,2000.000000,89.00
4,Ethiopia,Other,Washed / Wet,0.12,Green,2075.000000,88.83
...,...,...,...,...,...,...,...
1306,Mexico,Bourbon,Washed / Wet,0.11,None,900.000000,68.33
1307,Haiti,Typica,Natural / Dry,0.14,Blue-Green,350.000000,67.92
1308,Nicaragua,Caturra,Other,0.13,Green,1100.000000,63.08
1309,Guatemala,Catuai,Washed / Wet,0.10,Green,431.978055,59.83
1310,Honduras,Caturra,NaN,0.12,Green,1400.000000,0.00

In [16]:
cf.dropna(inplace=True)

# split and preprocessing

In [17]:
X = cf.iloc[:, cf.columns != "Total_Cup_Points"]
y = cf["Total_Cup_Points"]
seed = 42

X_other, X_test, y_other, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=seed)
X_train, X_val, y_train, y_val = train_test_split(X_other, y_other, test_size=0.25, shuffle=True, random_state=seed)

In [18]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(543, 6)
(181, 6)
(181, 6)

In [19]:
oh_ftr_list = ['Country_Of_Origin', 'Variety',
               'Processing_Method', 'Color']
std_ftr_list = ["Moisture", "Altitude_Mean_Meters"]

categorical_transformer = Pipeline(
    steps=
    [
        ("imputer", SimpleImputer(strategy="constant", fill_value="missing")),
        ('onehot', OneHotEncoder(sparse=False, handle_unknown='ignore'))
    ]
)

numerical_transformer = Pipeline(
    steps=[
    ("scaler", StandardScaler())
    ]
)

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, oh_ftr_list), 
        ('num', numerical_transformer, std_ftr_list)
    ]
)

X_train_prep = preprocessor.fit_transform(X_train)
X_test_prep = preprocessor.transform(X_test)
X_val_prep = preprocessor.transform(X_val)
feature_names = preprocessor.get_feature_names_out()
feature_names

array(['cat__Country_Of_Origin_Brazil', 'cat__Country_Of_Origin_China',
       'cat__Country_Of_Origin_Colombia',
       'cat__Country_Of_Origin_Costa Rica',
       'cat__Country_Of_Origin_El Salvador',
       'cat__Country_Of_Origin_Ethiopia',
       'cat__Country_Of_Origin_Guatemala', 'cat__Country_Of_Origin_Haiti',
       'cat__Country_Of_Origin_Honduras',
       'cat__Country_Of_Origin_Indonesia', 'cat__Country_Of_Origin_Kenya',
       'cat__Country_Of_Origin_Laos', 'cat__Country_Of_Origin_Malawi',
       'cat__Country_Of_Origin_Mexico', 'cat__Country_Of_Origin_Myanmar',
       'cat__Country_Of_Origin_Nicaragua',
       'cat__Country_Of_Origin_Panama',
       'cat__Country_Of_Origin_Philippines',
       'cat__Country_Of_Origin_Rwanda', 'cat__Country_Of_Origin_Taiwan',
       'cat__Country_Of_Origin_Tanzania, United Republic Of',
       'cat__Country_Of_Origin_Thailand', 'cat__Country_Of_Origin_Uganda',
       'cat__Country_Of_Origin_United States',
       'cat__Country_Of_Origin_United States (Puerto Rico)',
       'cat__Country_Of_Origin_Vietnam', 'cat__Variety_Bourbon',
       'cat__Variety_Catimor', 'cat__Variety_Catuai',
       'cat__Variety_Caturra', 'cat__Variety_Ethiopian Heirlooms',
       'cat__Variety_Gesha', 'cat__Variety_Mandheling',
       'cat__Variety_Mundo Novo', 'cat__Variety_Other',
       'cat__Variety_Pacamara', 'cat__Variety_Pacas',
       'cat__Variety_Peaberry', 'cat__Variety_Ruiru 11',
       'cat__Variety_SL14', 'cat__Variety_SL28', 'cat__Variety_SL34',
       'cat__Variety_Sumatra', 'cat__Variety_Typica',
       'cat__Variety_Yellow Bourbon',
       'cat__Processing_Method_Natural / Dry',
       'cat__Processing_Method_Other',
       'cat__Processing_Method_Pulped natural / honey',
       'cat__Processing_Method_Semi-washed / Semi-pulped',
       'cat__Processing_Method_Washed / Wet', 'cat__Color_Blue-Green',
       'cat__Color_Bluish-Green', 'cat__Color_Green', 'cat__Color_None',
       'num__Moisture', 'num__Altitude_Mean_Meters'], dtype=object)

In [20]:
X_train_prep[0]

array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  1.        ,  0.        ,  0.        ,  0.55800936,
       -0.02893808])

# model construction

In [13]:
import tensorflow as tf

In [37]:
model = tf.keras.Sequential(
    layers=[
        tf.keras.layers.Dense(units=32, activation=tf.keras.layers.LeakyReLU(alpha=0.2)),
        tf.keras.layers.Dropout(0.3),
#         tf.keras.layers.BatchNormalization(),
#         tf.keras.layers.Dense(units=32, activation=tf.keras.layers.LeakyReLU(alpha=0.2)),
#         tf.keras.layers.BatchNormalization(),
        tf.keras.layers.Dense(units=1)
    ]
)

model.compile(
    optimizer=tf.keras.optimizers.Adam(1e-3),
    loss=tf.keras.losses.mean_squared_error,
    metrics=tf.keras.metrics.mean_squared_error
)

model.fit(
    x=X_train_prep,
    y=y_train,
    batch_size=5,
    epochs=100,
    validation_data=(X_val_prep, y_val),
)

Epoch 1/100
  1/109 [..............................] - ETA: 28s - loss: 6904.7744 - mean_squared_error: 6904.7744

2023-10-28 21:31:33.163685: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

109/109 [==============================] - 1s 6ms/step - loss: 6509.5928 - mean_squared_error: 6509.5928 - val_loss: 6233.2520 - val_mean_squared_error: 6233.2520
Epoch 2/100
 12/109 [==>...........................] - ETA: 0s - loss: 6205.7866 - mean_squared_error: 6205.7866

2023-10-28 21:31:33.881731: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

109/109 [==============================] - 1s 5ms/step - loss: 5718.7920 - mean_squared_error: 5718.7920 - val_loss: 5200.7695 - val_mean_squared_error: 5200.7695
Epoch 3/100
109/109 [==============================] - 1s 5ms/step - loss: 4444.2822 - mean_squared_error: 4444.2822 - val_loss: 3802.3611 - val_mean_squared_error: 3802.3611
Epoch 4/100
109/109 [==============================] - 1s 5ms/step - loss: 2999.1494 - mean_squared_error: 2999.1494 - val_loss: 2388.4070 - val_mean_squared_error: 2388.4070
Epoch 5/100
109/109 [==============================] - 1s 5ms/step - loss: 1700.7512 - mean_squared_error: 1700.7512 - val_loss: 1258.8809 - val_mean_squared_error: 1258.8809
Epoch 6/100
109/109 [==============================] - 1s 5ms/step - loss: 813.2137 - mean_squared_error: 813.2137 - val_loss: 568.3671 - val_mean_squared_error: 568.3671
Epoch 7/100
109/109 [==============================] - 1s 5ms/step - loss: 356.4262 - mean_squared_error: 356.4262 - val_loss: 253.3170 - val_mean_squared_error: 253.3170
Epoch 8/100
109/109 [==============================] - 1s 5ms/step - loss: 177.1445 - mean_squared_error: 177.1445 - val_loss: 139.1899 - val_mean_squared_error: 139.1899
Epoch 9/100
109/109 [==============================] - 1s 5ms/step - loss: 113.8576 - mean_squared_error: 113.8576 - val_loss: 97.8270 - val_mean_squared_error: 97.8270
Epoch 10/100
109/109 [==============================] - 1s 5ms/step - loss: 95.4057 - mean_squared_error: 95.4057 - val_loss: 80.2026 - val_mean_squared_error: 80.2026
Epoch 11/100
109/109 [==============================] - 1s 5ms/step - loss: 76.1064 - mean_squared_error: 76.1064 - val_loss: 68.1812 - val_mean_squared_error: 68.1812
Epoch 12/100
109/109 [==============================] - 1s 5ms/step - loss: 65.5432 - mean_squared_error: 65.5432 - val_loss: 60.5238 - val_mean_squared_error: 60.5238
Epoch 13/100
109/109 [==============================] - 1s 5ms/step - loss: 57.1630 - mean_squared_error: 57.1630 - val_loss: 53.8315 - val_mean_squared_error: 53.8315
Epoch 14/100
109/109 [==============================] - 1s 5ms/step - loss: 50.7849 - mean_squared_error: 50.7849 - val_loss: 48.0065 - val_mean_squared_error: 48.0065
Epoch 15/100
109/109 [==============================] - 1s 5ms/step - loss: 41.6845 - mean_squared_error: 41.6845 - val_loss: 42.5671 - val_mean_squared_error: 42.5671
Epoch 16/100
109/109 [==============================] - 1s 5ms/step - loss: 32.8201 - mean_squared_error: 32.8201 - val_loss: 39.1295 - val_mean_squared_error: 39.1295
Epoch 17/100
109/109 [==============================] - 1s 5ms/step - loss: 28.0799 - mean_squared_error: 28.0799 - val_loss: 35.6452 - val_mean_squared_error: 35.6452
Epoch 18/100
109/109 [==============================] - 1s 5ms/step - loss: 26.6316 - mean_squared_error: 26.6316 - val_loss: 32.1958 - val_mean_squared_error: 32.1958
Epoch 19/100
109/109 [==============================] - 1s 5ms/step - loss: 21.8436 - mean_squared_error: 21.8436 - val_loss: 29.9510 - val_mean_squared_error: 29.9510
Epoch 20/100
109/109 [==============================] - 1s 5ms/step - loss: 20.6592 - mean_squared_error: 20.6592 - val_loss: 28.1757 - val_mean_squared_error: 28.1757
Epoch 21/100
109/109 [==============================] - 1s 5ms/step - loss: 18.9032 - mean_squared_error: 18.9032 - val_loss: 25.8958 - val_mean_squared_error: 25.8958
Epoch 22/100
109/109 [==============================] - 1s 5ms/step - loss: 15.6341 - mean_squared_error: 15.6341 - val_loss: 24.1774 - val_mean_squared_error: 24.1774
Epoch 23/100
109/109 [==============================] - 1s 5ms/step - loss: 14.6660 - mean_squared_error: 14.6660 - val_loss: 22.6314 - val_mean_squared_error: 22.6314
Epoch 24/100
109/109 [==============================] - 1s 5ms/step - loss: 12.7338 - mean_squared_error: 12.7338 - val_loss: 21.5792 - val_mean_squared_error: 21.5792
Epoch 25/100
109/109 [==============================] - 1s 5ms/step - loss: 11.8997 - mean_squared_error: 11.8997 - val_loss: 19.7219 - val_mean_squared_error: 19.7219
Epoch 26/100
109/109 [==============================] - 1s 5ms/step - loss: 11.3043 - mean_squared_error: 11.3043 - val_loss: 19.3063 - val_mean_squared_error: 19.3063
Epoch 27/100
109/109 [==============================] - 1s 5ms/step - loss: 10.2500 - mean_squared_error: 10.2500 - val_loss: 18.1272 - val_mean_squared_error: 18.1272
Epoch 28/100
109/109 [==============================] - 1s 5ms/step - loss: 9.4466 - mean_squared_error: 9.4466 - val_loss: 16.6940 - val_mean_squared_error: 16.6940
Epoch 29/100
109/109 [==============================] - 1s 5ms/step - loss: 9.1506 - mean_squared_error: 9.1506 - val_loss: 16.3408 - val_mean_squared_error: 16.3408
Epoch 30/100
109/109 [==============================] - 1s 5ms/step - loss: 8.8178 - mean_squared_error: 8.8178 - val_loss: 15.0330 - val_mean_squared_error: 15.0330
Epoch 31/100
109/109 [==============================] - 1s 5ms/step - loss: 7.9969 - mean_squared_error: 7.9969 - val_loss: 14.9746 - val_mean_squared_error: 14.9746
Epoch 32/100
109/109 [==============================] - 1s 5ms/step - loss: 7.8491 - mean_squared_error: 7.8491 - val_loss: 14.1817 - val_mean_squared_error: 14.1817
Epoch 33/100
109/109 [==============================] - 1s 5ms/step - loss: 7.4441 - mean_squared_error: 7.4441 - val_loss: 14.1154 - val_mean_squared_error: 14.1154
Epoch 34/100
109/109 [==============================] - 1s 5ms/step - loss: 6.9833 - mean_squared_error: 6.9833 - val_loss: 13.7670 - val_mean_squared_error: 13.7670
Epoch 35/100
109/109 [==============================] - 1s 5ms/step - loss: 7.0943 - mean_squared_error: 7.0943 - val_loss: 13.2069 - val_mean_squared_error: 13.2069
Epoch 36/100
109/109 [==============================] - 1s 5ms/step - loss: 6.6118 - mean_squared_error: 6.6118 - val_loss: 13.7251 - val_mean_squared_error: 13.7251
Epoch 37/100
109/109 [==============================] - 1s 5ms/step - loss: 6.3754 - mean_squared_error: 6.3754 - val_loss: 12.7695 - val_mean_squared_error: 12.7695
Epoch 38/100
109/109 [==============================] - 1s 5ms/step - loss: 6.3036 - mean_squared_error: 6.3036 - val_loss: 12.0653 - val_mean_squared_error: 12.0653
Epoch 39/100
109/109 [==============================] - 1s 5ms/step - loss: 6.2173 - mean_squared_error: 6.2173 - val_loss: 11.6560 - val_mean_squared_error: 11.6560
Epoch 40/100
109/109 [==============================] - 1s 5ms/step - loss: 6.0235 - mean_squared_error: 6.0235 - val_loss: 11.8612 - val_mean_squared_error: 11.8612
Epoch 41/100
109/109 [==============================] - 1s 5ms/step - loss: 5.9746 - mean_squared_error: 5.9746 - val_loss: 11.7923 - val_mean_squared_error: 11.7923
Epoch 42/100
109/109 [==============================] - 1s 5ms/step - loss: 5.8004 - mean_squared_error: 5.8004 - val_loss: 11.3871 - val_mean_squared_error: 11.3871
Epoch 43/100
109/109 [==============================] - 1s 5ms/step - loss: 5.7815 - mean_squared_error: 5.7815 - val_loss: 10.9862 - val_mean_squared_error: 10.9862
Epoch 44/100
109/109 [==============================] - 1s 5ms/step - loss: 5.7260 - mean_squared_error: 5.7260 - val_loss: 11.0138 - val_mean_squared_error: 11.0138
Epoch 45/100
109/109 [==============================] - 1s 5ms/step - loss: 5.4738 - mean_squared_error: 5.4738 - val_loss: 11.4204 - val_mean_squared_error: 11.4204
Epoch 46/100
109/109 [==============================] - 1s 5ms/step - loss: 5.5057 - mean_squared_error: 5.5057 - val_loss: 11.1901 - val_mean_squared_error: 11.1901
Epoch 47/100
109/109 [==============================] - 1s 5ms/step - loss: 5.4486 - mean_squared_error: 5.4486 - val_loss: 11.0539 - val_mean_squared_error: 11.0539
Epoch 48/100
109/109 [==============================] - 1s 5ms/step - loss: 5.4951 - mean_squared_error: 5.4951 - val_loss: 12.1310 - val_mean_squared_error: 12.1310
Epoch 49/100
109/109 [==============================] - 1s 5ms/step - loss: 5.4789 - mean_squared_error: 5.4789 - val_loss: 11.6735 - val_mean_squared_error: 11.6735
Epoch 50/100
109/109 [==============================] - 1s 5ms/step - loss: 5.2190 - mean_squared_error: 5.2190 - val_loss: 11.4533 - val_mean_squared_error: 11.4533

Epoch 51/100
109/109 [==============================] - 1s 5ms/step - loss: 5.3719 - mean_squared_error: 5.3719 - val_loss: 11.5968 - val_mean_squared_error: 11.5968
Epoch 52/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1886 - mean_squared_error: 5.1886 - val_loss: 10.7364 - val_mean_squared_error: 10.7364
Epoch 53/100
109/109 [==============================] - 1s 5ms/step - loss: 5.2823 - mean_squared_error: 5.2823 - val_loss: 12.3420 - val_mean_squared_error: 12.3420
Epoch 54/100
109/109 [==============================] - 1s 5ms/step - loss: 5.2559 - mean_squared_error: 5.2559 - val_loss: 10.7119 - val_mean_squared_error: 10.7119
Epoch 55/100
109/109 [==============================] - 1s 5ms/step - loss: 5.2731 - mean_squared_error: 5.2731 - val_loss: 12.0495 - val_mean_squared_error: 12.0495
Epoch 56/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1396 - mean_squared_error: 5.1396 - val_loss: 11.0207 - val_mean_squared_error: 11.0207
Epoch 57/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0726 - mean_squared_error: 5.0726 - val_loss: 11.3098 - val_mean_squared_error: 11.3098
Epoch 58/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1612 - mean_squared_error: 5.1612 - val_loss: 10.8213 - val_mean_squared_error: 10.8213
Epoch 59/100
109/109 [==============================] - 1s 5ms/step - loss: 5.3099 - mean_squared_error: 5.3099 - val_loss: 10.9215 - val_mean_squared_error: 10.9215
Epoch 60/100
109/109 [==============================] - 1s 5ms/step - loss: 5.2429 - mean_squared_error: 5.2429 - val_loss: 11.1002 - val_mean_squared_error: 11.1002
Epoch 61/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1098 - mean_squared_error: 5.1098 - val_loss: 11.0017 - val_mean_squared_error: 11.0017
Epoch 62/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0296 - mean_squared_error: 5.0296 - val_loss: 11.5531 - val_mean_squared_error: 11.5531
Epoch 63/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9560 - mean_squared_error: 4.9560 - val_loss: 11.4973 - val_mean_squared_error: 11.4973
Epoch 64/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0638 - mean_squared_error: 5.0638 - val_loss: 11.9400 - val_mean_squared_error: 11.9400
Epoch 65/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1647 - mean_squared_error: 5.1647 - val_loss: 12.0273 - val_mean_squared_error: 12.0273
Epoch 66/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1341 - mean_squared_error: 5.1341 - val_loss: 11.2082 - val_mean_squared_error: 11.2082
Epoch 67/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0274 - mean_squared_error: 5.0274 - val_loss: 10.9106 - val_mean_squared_error: 10.9106
Epoch 68/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0072 - mean_squared_error: 5.0072 - val_loss: 12.1483 - val_mean_squared_error: 12.1483
Epoch 69/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1129 - mean_squared_error: 5.1129 - val_loss: 11.0912 - val_mean_squared_error: 11.0912
Epoch 70/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8573 - mean_squared_error: 4.8573 - val_loss: 10.6878 - val_mean_squared_error: 10.6878
Epoch 71/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9916 - mean_squared_error: 4.9916 - val_loss: 11.7662 - val_mean_squared_error: 11.7662
Epoch 72/100
109/109 [==============================] - 1s 5ms/step - loss: 5.1225 - mean_squared_error: 5.1225 - val_loss: 11.8088 - val_mean_squared_error: 11.8088
Epoch 73/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9826 - mean_squared_error: 4.9826 - val_loss: 11.0517 - val_mean_squared_error: 11.0517
Epoch 74/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9231 - mean_squared_error: 4.9231 - val_loss: 11.5276 - val_mean_squared_error: 11.5276
Epoch 75/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9547 - mean_squared_error: 4.9547 - val_loss: 12.3359 - val_mean_squared_error: 12.3359
Epoch 76/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0356 - mean_squared_error: 5.0356 - val_loss: 11.2809 - val_mean_squared_error: 11.2809
Epoch 77/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9685 - mean_squared_error: 4.9685 - val_loss: 11.1147 - val_mean_squared_error: 11.1147
Epoch 78/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9387 - mean_squared_error: 4.9387 - val_loss: 11.4105 - val_mean_squared_error: 11.4105
Epoch 79/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0118 - mean_squared_error: 5.0118 - val_loss: 10.9713 - val_mean_squared_error: 10.9713
Epoch 80/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9155 - mean_squared_error: 4.9155 - val_loss: 11.4790 - val_mean_squared_error: 11.4790
Epoch 81/100
109/109 [==============================] - 1s 6ms/step - loss: 4.9959 - mean_squared_error: 4.9959 - val_loss: 11.4183 - val_mean_squared_error: 11.4183
Epoch 82/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8026 - mean_squared_error: 4.8026 - val_loss: 11.7283 - val_mean_squared_error: 11.7283
Epoch 83/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0192 - mean_squared_error: 5.0192 - val_loss: 10.5876 - val_mean_squared_error: 10.5876
Epoch 84/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0465 - mean_squared_error: 5.0465 - val_loss: 11.7211 - val_mean_squared_error: 11.7211
Epoch 85/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9220 - mean_squared_error: 4.9220 - val_loss: 10.2183 - val_mean_squared_error: 10.2183
Epoch 86/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0450 - mean_squared_error: 5.0450 - val_loss: 11.9391 - val_mean_squared_error: 11.9391
Epoch 87/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0466 - mean_squared_error: 5.0466 - val_loss: 10.6026 - val_mean_squared_error: 10.6026
Epoch 88/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8812 - mean_squared_error: 4.8812 - val_loss: 11.1430 - val_mean_squared_error: 11.1430
Epoch 89/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0586 - mean_squared_error: 5.0586 - val_loss: 11.5698 - val_mean_squared_error: 11.5698
Epoch 90/100
109/109 [==============================] - 1s 5ms/step - loss: 5.2456 - mean_squared_error: 5.2456 - val_loss: 10.6961 - val_mean_squared_error: 10.6961
Epoch 91/100
109/109 [==============================] - 1s 5ms/step - loss: 5.0466 - mean_squared_error: 5.0466 - val_loss: 11.7273 - val_mean_squared_error: 11.7273
Epoch 92/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9775 - mean_squared_error: 4.9775 - val_loss: 10.6429 - val_mean_squared_error: 10.6429
Epoch 93/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8743 - mean_squared_error: 4.8743 - val_loss: 10.7873 - val_mean_squared_error: 10.7873
Epoch 94/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8367 - mean_squared_error: 4.8367 - val_loss: 10.7152 - val_mean_squared_error: 10.7152
Epoch 95/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9047 - mean_squared_error: 4.9047 - val_loss: 11.0282 - val_mean_squared_error: 11.0282
Epoch 96/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8628 - mean_squared_error: 4.8628 - val_loss: 11.2338 - val_mean_squared_error: 11.2338
Epoch 97/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8802 - mean_squared_error: 4.8802 - val_loss: 10.7354 - val_mean_squared_error: 10.7354
Epoch 98/100
109/109 [==============================] - 1s 5ms/step - loss: 4.8113 - mean_squared_error: 4.8113 - val_loss: 11.8589 - val_mean_squared_error: 11.8589
Epoch 99/100
109/109 [==============================] - 1s 5ms/step - loss: 4.9178 - mean_squared_error: 4.9178 - val_loss: 11.0052 - val_mean_squared_error: 11.0052
Epoch 100/100

109/109 [==============================] - 1s 5ms/step - loss: 4.8744 - mean_squared_error: 4.8744 - val_loss: 10.4615 - val_mean_squared_error: 10.4615

In [38]:
pred = model.predict(X_test_prep)

6/6 [==============================] - 0s 3ms/step

2023-10-28 21:32:35.606653: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

In [39]:
mean_squared_error(y_test, pred)

10.713781564152168

In [40]:
mean_absolute_error(y_test, pred)

2.1482072271694794